tempo:
  mode: "single-binary"

  memberlist:
    abort_if_cluster_join_fails: false
    join_members:
      - tempo.tempo.svc.cluster.local
  config:

    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: "0.0.0.0:4317"
          http:
            endpoint: "0.0.0.0:4318"

    storage:
      trace:
        backend: local
        wal:
          path: /var/tempo/wal
        local:
          path: /var/tempo/blocks

    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
      registry:
        external_labels: {}
      storage:
        path: /var/tempo/generator/wal
      remote_write:
        - url: "http://prometheus-server.prometheus.svc.cluster.local:9090/api/v1/write"
      service_graphs:
        dimensions:
          - http.method
          - http.status_code
      span_metrics:
        dimensions:
          - http.method
          - http.status_code
          - http.target
    memberlist:
      join_members:
        - tempo.tempo.svc.cluster.local
      abort_if_cluster_join_fails: false
    server:
      http_listen_port: 3200


  resources:
    limits:
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi

  persistence:
    enabled: true
    size: 10Gi

service:
  type: ClusterIP
  port: 3200
