mode: deployment

image:
  repository: otel/opentelemetry-collector
  tag: "0.140.0"

config:
  receivers:
    otlp:
      protocols:
        grpc: {}   # 4317
        http: {}   # 4318

  processors:
    batch: {}        # <-- önemli! batch tanımlı olmalı
    memory_limiter:
      check_interval: 5s
      limit_mib: 512

  exporters:
    otlp/tempo:
      endpoint: tempo.tempo.svc.cluster.local:4317
      tls:
        insecure: true

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, batch]   # <-- batch burada referans ediliyor
        exporters: [otlp/tempo]

    telemetry:
      metrics:
        address: "0.0.0.0:8888"
      logs:
        level: "info"
